@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #555555; }

input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
  color: #555555; }

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #555555; }

.roboto {
  font-family: "Roboto", sans-serif; }

.merienda {
  font-family: 'Merienda', cursive; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap; }
  .row > div[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }

@media all and (min-width: 576px) {
  .row .col-xs-1 {
    max-width: 8.33333%; }
  .row .col-xs-2 {
    max-width: 16.66667%; }
  .row .col-xs-3 {
    max-width: 25%; }
  .row .col-xs-4 {
    max-width: 33.33333%; }
  .row .col-xs-5 {
    max-width: 41.66667%; }
  .row .col-xs-6 {
    max-width: 50%; }
  .row .col-xs-7 {
    max-width: 58.33333%; }
  .row .col-xs-8 {
    max-width: 66.66667%; }
  .row .col-xs-9 {
    max-width: 75%; }
  .row .col-xs-10 {
    max-width: 83.33333%; }
  .row .col-xs-11 {
    max-width: 91.66667%; }
  .row .col-xs-12 {
    max-width: 100%; }
  .row .offset-xs-1 {
    margin-left: 8.33333%; }
  .row .offset-xs-2 {
    margin-left: 16.66667%; }
  .row .offset-xs-3 {
    margin-left: 25%; }
  .row .offset-xs-4 {
    margin-left: 33.33333%; }
  .row .offset-xs-5 {
    margin-left: 41.66667%; }
  .row .offset-xs-6 {
    margin-left: 50%; }
  .row .offset-xs-7 {
    margin-left: 58.33333%; }
  .row .offset-xs-8 {
    margin-left: 66.66667%; }
  .row .offset-xs-9 {
    margin-left: 75%; }
  .row .offset-xs-10 {
    margin-left: 83.33333%; }
  .row .offset-xs-11 {
    margin-left: 91.66667%; }
  .row .offset-xs-12 {
    margin-left: 100%; }
  .row .push-xs-1 {
    margin-right: 8.33333%; }
  .row .push-xs-2 {
    margin-right: 16.66667%; }
  .row .push-xs-3 {
    margin-right: 25%; }
  .row .push-xs-4 {
    margin-right: 33.33333%; }
  .row .push-xs-5 {
    margin-right: 41.66667%; }
  .row .push-xs-6 {
    margin-right: 50%; }
  .row .push-xs-7 {
    margin-right: 58.33333%; }
  .row .push-xs-8 {
    margin-right: 66.66667%; }
  .row .push-xs-9 {
    margin-right: 75%; }
  .row .push-xs-10 {
    margin-right: 83.33333%; }
  .row .push-xs-11 {
    margin-right: 91.66667%; }
  .row .push-xs-12 {
    margin-right: 100%; }
  .row .order-xs-1 {
    order: 1; }
  .row .order-xs-2 {
    order: 2; }
  .row .order-xs-3 {
    order: 3; }
  .row .order-xs-4 {
    order: 4; }
  .row .order-xs-5 {
    order: 5; }
  .row .order-xs-6 {
    order: 6; }
  .row .order-xs-7 {
    order: 7; }
  .row .order-xs-8 {
    order: 8; }
  .row .order-xs-9 {
    order: 9; }
  .row .order-xs-10 {
    order: 10; }
  .row .order-xs-11 {
    order: 11; }
  .row .order-xs-12 {
    order: 12; }
  .row.sixteen .col-lg-1 {
    max-width: 6.25%; }
  .row.sixteen .col-lg-2 {
    max-width: 12.5%; }
  .row.sixteen .col-lg-3 {
    max-width: 18.75%; }
  .row.sixteen .col-lg-4 {
    max-width: 25%; }
  .row.sixteen .col-lg-5 {
    max-width: 31.25%; }
  .row.sixteen .col-lg-6 {
    max-width: 37.5%; }
  .row.sixteen .col-lg-7 {
    max-width: 43.75%; }
  .row.sixteen .col-lg-8 {
    max-width: 50%; }
  .row.sixteen .col-lg-9 {
    max-width: 56.25%; }
  .row.sixteen .col-lg-10 {
    max-width: 62.5%; }
  .row.sixteen .col-lg-11 {
    max-width: 68.75%; }
  .row.sixteen .col-lg-12 {
    max-width: 75%; }
  .row.sixteen .col-lg-13 {
    max-width: 81.25%; }
  .row.sixteen .col-lg-14 {
    max-width: 87.5%; }
  .row.sixteen .col-lg-15 {
    max-width: 93.75%; }
  .row.sixteen .col-lg-16 {
    max-width: 100%; }
  .row.sixteen .offset-lg-1 {
    margin-left: 6.25%; }
  .row.sixteen .offset-lg-2 {
    margin-left: 12.5%; }
  .row.sixteen .offset-lg-3 {
    margin-left: 18.75%; }
  .row.sixteen .offset-lg-4 {
    margin-left: 25%; }
  .row.sixteen .offset-lg-5 {
    margin-left: 31.25%; }
  .row.sixteen .offset-lg-6 {
    margin-left: 37.5%; }
  .row.sixteen .offset-lg-7 {
    margin-left: 43.75%; }
  .row.sixteen .offset-lg-8 {
    margin-left: 50%; }
  .row.sixteen .offset-lg-9 {
    margin-left: 56.25%; }
  .row.sixteen .offset-lg-10 {
    margin-left: 62.5%; }
  .row.sixteen .offset-lg-11 {
    margin-left: 68.75%; }
  .row.sixteen .offset-lg-12 {
    margin-left: 75%; }
  .row.sixteen .offset-lg-13 {
    margin-left: 81.25%; }
  .row.sixteen .offset-lg-14 {
    margin-left: 87.5%; }
  .row.sixteen .offset-lg-15 {
    margin-left: 93.75%; }
  .row.sixteen .offset-lg-16 {
    margin-left: 100%; }
  .row.sixteen .push-lg-1 {
    margin-right: 6.25%; }
  .row.sixteen .push-lg-2 {
    margin-right: 12.5%; }
  .row.sixteen .push-lg-3 {
    margin-right: 18.75%; }
  .row.sixteen .push-lg-4 {
    margin-right: 25%; }
  .row.sixteen .push-lg-5 {
    margin-right: 31.25%; }
  .row.sixteen .push-lg-6 {
    margin-right: 37.5%; }
  .row.sixteen .push-lg-7 {
    margin-right: 43.75%; }
  .row.sixteen .push-lg-8 {
    margin-right: 50%; }
  .row.sixteen .push-lg-9 {
    margin-right: 56.25%; }
  .row.sixteen .push-lg-10 {
    margin-right: 62.5%; }
  .row.sixteen .push-lg-11 {
    margin-right: 68.75%; }
  .row.sixteen .push-lg-12 {
    margin-right: 75%; }
  .row.sixteen .push-lg-13 {
    margin-right: 81.25%; }
  .row.sixteen .push-lg-14 {
    margin-right: 87.5%; }
  .row.sixteen .push-lg-15 {
    margin-right: 93.75%; }
  .row.sixteen .push-lg-16 {
    margin-right: 100%; }
  .row.sixteen .order-lg-1 {
    order: 1; }
  .row.sixteen .order-lg-2 {
    order: 2; }
  .row.sixteen .order-lg-3 {
    order: 3; }
  .row.sixteen .order-lg-4 {
    order: 4; }
  .row.sixteen .order-lg-5 {
    order: 5; }
  .row.sixteen .order-lg-6 {
    order: 6; }
  .row.sixteen .order-lg-7 {
    order: 7; }
  .row.sixteen .order-lg-8 {
    order: 8; }
  .row.sixteen .order-lg-9 {
    order: 9; }
  .row.sixteen .order-lg-10 {
    order: 10; }
  .row.sixteen .order-lg-11 {
    order: 11; }
  .row.sixteen .order-lg-12 {
    order: 12; }
  .row.sixteen .order-lg-13 {
    order: 13; }
  .row.sixteen .order-lg-14 {
    order: 14; }
  .row.sixteen .order-lg-15 {
    order: 15; }
  .row.sixteen .order-lg-16 {
    order: 16; }
  .row.twenty .col-lg-1 {
    max-width: 5%; }
  .row.twenty .col-lg-2 {
    max-width: 10%; }
  .row.twenty .col-lg-3 {
    max-width: 15%; }
  .row.twenty .col-lg-4 {
    max-width: 20%; }
  .row.twenty .col-lg-5 {
    max-width: 25%; }
  .row.twenty .col-lg-6 {
    max-width: 30%; }
  .row.twenty .col-lg-7 {
    max-width: 35%; }
  .row.twenty .col-lg-8 {
    max-width: 40%; }
  .row.twenty .col-lg-9 {
    max-width: 45%; }
  .row.twenty .col-lg-10 {
    max-width: 50%; }
  .row.twenty .col-lg-11 {
    max-width: 55%; }
  .row.twenty .col-lg-12 {
    max-width: 60%; }
  .row.twenty .col-lg-13 {
    max-width: 65%; }
  .row.twenty .col-lg-14 {
    max-width: 70%; }
  .row.twenty .col-lg-15 {
    max-width: 75%; }
  .row.twenty .col-lg-16 {
    max-width: 80%; }
  .row.twenty .col-lg-17 {
    max-width: 85%; }
  .row.twenty .col-lg-18 {
    max-width: 90%; }
  .row.twenty .col-lg-19 {
    max-width: 95%; }
  .row.twenty .col-lg-20 {
    max-width: 100%; }
  .row.twenty .offset-lg-1 {
    margin-left: 5%; }
  .row.twenty .offset-lg-2 {
    margin-left: 10%; }
  .row.twenty .offset-lg-3 {
    margin-left: 15%; }
  .row.twenty .offset-lg-4 {
    margin-left: 20%; }
  .row.twenty .offset-lg-5 {
    margin-left: 25%; }
  .row.twenty .offset-lg-6 {
    margin-left: 30%; }
  .row.twenty .offset-lg-7 {
    margin-left: 35%; }
  .row.twenty .offset-lg-8 {
    margin-left: 40%; }
  .row.twenty .offset-lg-9 {
    margin-left: 45%; }
  .row.twenty .offset-lg-10 {
    margin-left: 50%; }
  .row.twenty .offset-lg-11 {
    margin-left: 55%; }
  .row.twenty .offset-lg-12 {
    margin-left: 60%; }
  .row.twenty .offset-lg-13 {
    margin-left: 65%; }
  .row.twenty .offset-lg-14 {
    margin-left: 70%; }
  .row.twenty .offset-lg-15 {
    margin-left: 75%; }
  .row.twenty .offset-lg-16 {
    margin-left: 80%; }
  .row.twenty .offset-lg-17 {
    margin-left: 85%; }
  .row.twenty .offset-lg-18 {
    margin-left: 90%; }
  .row.twenty .offset-lg-19 {
    margin-left: 95%; }
  .row.twenty .offset-lg-20 {
    margin-left: 100%; }
  .row.twenty .push-lg-1 {
    margin-right: 5%; }
  .row.twenty .push-lg-2 {
    margin-right: 10%; }
  .row.twenty .push-lg-3 {
    margin-right: 15%; }
  .row.twenty .push-lg-4 {
    margin-right: 20%; }
  .row.twenty .push-lg-5 {
    margin-right: 25%; }
  .row.twenty .push-lg-6 {
    margin-right: 30%; }
  .row.twenty .push-lg-7 {
    margin-right: 35%; }
  .row.twenty .push-lg-8 {
    margin-right: 40%; }
  .row.twenty .push-lg-9 {
    margin-right: 45%; }
  .row.twenty .push-lg-10 {
    margin-right: 50%; }
  .row.twenty .push-lg-11 {
    margin-right: 55%; }
  .row.twenty .push-lg-12 {
    margin-right: 60%; }
  .row.twenty .push-lg-13 {
    margin-right: 65%; }
  .row.twenty .push-lg-14 {
    margin-right: 70%; }
  .row.twenty .push-lg-15 {
    margin-right: 75%; }
  .row.twenty .push-lg-16 {
    margin-right: 80%; }
  .row.twenty .push-lg-17 {
    margin-right: 85%; }
  .row.twenty .push-lg-18 {
    margin-right: 90%; }
  .row.twenty .push-lg-19 {
    margin-right: 95%; }
  .row.twenty .push-lg-20 {
    margin-right: 100%; }
  .row.twenty .order-lg-1 {
    order: 1; }
  .row.twenty .order-lg-2 {
    order: 2; }
  .row.twenty .order-lg-3 {
    order: 3; }
  .row.twenty .order-lg-4 {
    order: 4; }
  .row.twenty .order-lg-5 {
    order: 5; }
  .row.twenty .order-lg-6 {
    order: 6; }
  .row.twenty .order-lg-7 {
    order: 7; }
  .row.twenty .order-lg-8 {
    order: 8; }
  .row.twenty .order-lg-9 {
    order: 9; }
  .row.twenty .order-lg-10 {
    order: 10; }
  .row.twenty .order-lg-11 {
    order: 11; }
  .row.twenty .order-lg-12 {
    order: 12; }
  .row.twenty .order-lg-13 {
    order: 13; }
  .row.twenty .order-lg-14 {
    order: 14; }
  .row.twenty .order-lg-15 {
    order: 15; }
  .row.twenty .order-lg-16 {
    order: 16; }
  .row.twenty .order-lg-17 {
    order: 17; }
  .row.twenty .order-lg-18 {
    order: 18; }
  .row.twenty .order-lg-19 {
    order: 19; }
  .row.twenty .order-lg-20 {
    order: 20; } }

@media all and (min-width: 768px) {
  .row .col-sm-1 {
    max-width: 8.33333%; }
  .row .col-sm-2 {
    max-width: 16.66667%; }
  .row .col-sm-3 {
    max-width: 25%; }
  .row .col-sm-4 {
    max-width: 33.33333%; }
  .row .col-sm-5 {
    max-width: 41.66667%; }
  .row .col-sm-6 {
    max-width: 50%; }
  .row .col-sm-7 {
    max-width: 58.33333%; }
  .row .col-sm-8 {
    max-width: 66.66667%; }
  .row .col-sm-9 {
    max-width: 75%; }
  .row .col-sm-10 {
    max-width: 83.33333%; }
  .row .col-sm-11 {
    max-width: 91.66667%; }
  .row .col-sm-12 {
    max-width: 100%; }
  .row .offset-sm-1 {
    margin-left: 8.33333%; }
  .row .offset-sm-2 {
    margin-left: 16.66667%; }
  .row .offset-sm-3 {
    margin-left: 25%; }
  .row .offset-sm-4 {
    margin-left: 33.33333%; }
  .row .offset-sm-5 {
    margin-left: 41.66667%; }
  .row .offset-sm-6 {
    margin-left: 50%; }
  .row .offset-sm-7 {
    margin-left: 58.33333%; }
  .row .offset-sm-8 {
    margin-left: 66.66667%; }
  .row .offset-sm-9 {
    margin-left: 75%; }
  .row .offset-sm-10 {
    margin-left: 83.33333%; }
  .row .offset-sm-11 {
    margin-left: 91.66667%; }
  .row .offset-sm-12 {
    margin-left: 100%; }
  .row .push-sm-1 {
    margin-right: 8.33333%; }
  .row .push-sm-2 {
    margin-right: 16.66667%; }
  .row .push-sm-3 {
    margin-right: 25%; }
  .row .push-sm-4 {
    margin-right: 33.33333%; }
  .row .push-sm-5 {
    margin-right: 41.66667%; }
  .row .push-sm-6 {
    margin-right: 50%; }
  .row .push-sm-7 {
    margin-right: 58.33333%; }
  .row .push-sm-8 {
    margin-right: 66.66667%; }
  .row .push-sm-9 {
    margin-right: 75%; }
  .row .push-sm-10 {
    margin-right: 83.33333%; }
  .row .push-sm-11 {
    margin-right: 91.66667%; }
  .row .push-sm-12 {
    margin-right: 100%; }
  .row .order-sm-1 {
    order: 1; }
  .row .order-sm-2 {
    order: 2; }
  .row .order-sm-3 {
    order: 3; }
  .row .order-sm-4 {
    order: 4; }
  .row .order-sm-5 {
    order: 5; }
  .row .order-sm-6 {
    order: 6; }
  .row .order-sm-7 {
    order: 7; }
  .row .order-sm-8 {
    order: 8; }
  .row .order-sm-9 {
    order: 9; }
  .row .order-sm-10 {
    order: 10; }
  .row .order-sm-11 {
    order: 11; }
  .row .order-sm-12 {
    order: 12; }
  .row.sixteen .col-lg-1 {
    max-width: 6.25%; }
  .row.sixteen .col-lg-2 {
    max-width: 12.5%; }
  .row.sixteen .col-lg-3 {
    max-width: 18.75%; }
  .row.sixteen .col-lg-4 {
    max-width: 25%; }
  .row.sixteen .col-lg-5 {
    max-width: 31.25%; }
  .row.sixteen .col-lg-6 {
    max-width: 37.5%; }
  .row.sixteen .col-lg-7 {
    max-width: 43.75%; }
  .row.sixteen .col-lg-8 {
    max-width: 50%; }
  .row.sixteen .col-lg-9 {
    max-width: 56.25%; }
  .row.sixteen .col-lg-10 {
    max-width: 62.5%; }
  .row.sixteen .col-lg-11 {
    max-width: 68.75%; }
  .row.sixteen .col-lg-12 {
    max-width: 75%; }
  .row.sixteen .col-lg-13 {
    max-width: 81.25%; }
  .row.sixteen .col-lg-14 {
    max-width: 87.5%; }
  .row.sixteen .col-lg-15 {
    max-width: 93.75%; }
  .row.sixteen .col-lg-16 {
    max-width: 100%; }
  .row.sixteen .offset-lg-1 {
    margin-left: 6.25%; }
  .row.sixteen .offset-lg-2 {
    margin-left: 12.5%; }
  .row.sixteen .offset-lg-3 {
    margin-left: 18.75%; }
  .row.sixteen .offset-lg-4 {
    margin-left: 25%; }
  .row.sixteen .offset-lg-5 {
    margin-left: 31.25%; }
  .row.sixteen .offset-lg-6 {
    margin-left: 37.5%; }
  .row.sixteen .offset-lg-7 {
    margin-left: 43.75%; }
  .row.sixteen .offset-lg-8 {
    margin-left: 50%; }
  .row.sixteen .offset-lg-9 {
    margin-left: 56.25%; }
  .row.sixteen .offset-lg-10 {
    margin-left: 62.5%; }
  .row.sixteen .offset-lg-11 {
    margin-left: 68.75%; }
  .row.sixteen .offset-lg-12 {
    margin-left: 75%; }
  .row.sixteen .offset-lg-13 {
    margin-left: 81.25%; }
  .row.sixteen .offset-lg-14 {
    margin-left: 87.5%; }
  .row.sixteen .offset-lg-15 {
    margin-left: 93.75%; }
  .row.sixteen .offset-lg-16 {
    margin-left: 100%; }
  .row.sixteen .push-lg-1 {
    margin-right: 6.25%; }
  .row.sixteen .push-lg-2 {
    margin-right: 12.5%; }
  .row.sixteen .push-lg-3 {
    margin-right: 18.75%; }
  .row.sixteen .push-lg-4 {
    margin-right: 25%; }
  .row.sixteen .push-lg-5 {
    margin-right: 31.25%; }
  .row.sixteen .push-lg-6 {
    margin-right: 37.5%; }
  .row.sixteen .push-lg-7 {
    margin-right: 43.75%; }
  .row.sixteen .push-lg-8 {
    margin-right: 50%; }
  .row.sixteen .push-lg-9 {
    margin-right: 56.25%; }
  .row.sixteen .push-lg-10 {
    margin-right: 62.5%; }
  .row.sixteen .push-lg-11 {
    margin-right: 68.75%; }
  .row.sixteen .push-lg-12 {
    margin-right: 75%; }
  .row.sixteen .push-lg-13 {
    margin-right: 81.25%; }
  .row.sixteen .push-lg-14 {
    margin-right: 87.5%; }
  .row.sixteen .push-lg-15 {
    margin-right: 93.75%; }
  .row.sixteen .push-lg-16 {
    margin-right: 100%; }
  .row.sixteen .order-lg-1 {
    order: 1; }
  .row.sixteen .order-lg-2 {
    order: 2; }
  .row.sixteen .order-lg-3 {
    order: 3; }
  .row.sixteen .order-lg-4 {
    order: 4; }
  .row.sixteen .order-lg-5 {
    order: 5; }
  .row.sixteen .order-lg-6 {
    order: 6; }
  .row.sixteen .order-lg-7 {
    order: 7; }
  .row.sixteen .order-lg-8 {
    order: 8; }
  .row.sixteen .order-lg-9 {
    order: 9; }
  .row.sixteen .order-lg-10 {
    order: 10; }
  .row.sixteen .order-lg-11 {
    order: 11; }
  .row.sixteen .order-lg-12 {
    order: 12; }
  .row.sixteen .order-lg-13 {
    order: 13; }
  .row.sixteen .order-lg-14 {
    order: 14; }
  .row.sixteen .order-lg-15 {
    order: 15; }
  .row.sixteen .order-lg-16 {
    order: 16; }
  .row.twenty .col-lg-1 {
    max-width: 5%; }
  .row.twenty .col-lg-2 {
    max-width: 10%; }
  .row.twenty .col-lg-3 {
    max-width: 15%; }
  .row.twenty .col-lg-4 {
    max-width: 20%; }
  .row.twenty .col-lg-5 {
    max-width: 25%; }
  .row.twenty .col-lg-6 {
    max-width: 30%; }
  .row.twenty .col-lg-7 {
    max-width: 35%; }
  .row.twenty .col-lg-8 {
    max-width: 40%; }
  .row.twenty .col-lg-9 {
    max-width: 45%; }
  .row.twenty .col-lg-10 {
    max-width: 50%; }
  .row.twenty .col-lg-11 {
    max-width: 55%; }
  .row.twenty .col-lg-12 {
    max-width: 60%; }
  .row.twenty .col-lg-13 {
    max-width: 65%; }
  .row.twenty .col-lg-14 {
    max-width: 70%; }
  .row.twenty .col-lg-15 {
    max-width: 75%; }
  .row.twenty .col-lg-16 {
    max-width: 80%; }
  .row.twenty .col-lg-17 {
    max-width: 85%; }
  .row.twenty .col-lg-18 {
    max-width: 90%; }
  .row.twenty .col-lg-19 {
    max-width: 95%; }
  .row.twenty .col-lg-20 {
    max-width: 100%; }
  .row.twenty .offset-lg-1 {
    margin-left: 5%; }
  .row.twenty .offset-lg-2 {
    margin-left: 10%; }
  .row.twenty .offset-lg-3 {
    margin-left: 15%; }
  .row.twenty .offset-lg-4 {
    margin-left: 20%; }
  .row.twenty .offset-lg-5 {
    margin-left: 25%; }
  .row.twenty .offset-lg-6 {
    margin-left: 30%; }
  .row.twenty .offset-lg-7 {
    margin-left: 35%; }
  .row.twenty .offset-lg-8 {
    margin-left: 40%; }
  .row.twenty .offset-lg-9 {
    margin-left: 45%; }
  .row.twenty .offset-lg-10 {
    margin-left: 50%; }
  .row.twenty .offset-lg-11 {
    margin-left: 55%; }
  .row.twenty .offset-lg-12 {
    margin-left: 60%; }
  .row.twenty .offset-lg-13 {
    margin-left: 65%; }
  .row.twenty .offset-lg-14 {
    margin-left: 70%; }
  .row.twenty .offset-lg-15 {
    margin-left: 75%; }
  .row.twenty .offset-lg-16 {
    margin-left: 80%; }
  .row.twenty .offset-lg-17 {
    margin-left: 85%; }
  .row.twenty .offset-lg-18 {
    margin-left: 90%; }
  .row.twenty .offset-lg-19 {
    margin-left: 95%; }
  .row.twenty .offset-lg-20 {
    margin-left: 100%; }
  .row.twenty .push-lg-1 {
    margin-right: 5%; }
  .row.twenty .push-lg-2 {
    margin-right: 10%; }
  .row.twenty .push-lg-3 {
    margin-right: 15%; }
  .row.twenty .push-lg-4 {
    margin-right: 20%; }
  .row.twenty .push-lg-5 {
    margin-right: 25%; }
  .row.twenty .push-lg-6 {
    margin-right: 30%; }
  .row.twenty .push-lg-7 {
    margin-right: 35%; }
  .row.twenty .push-lg-8 {
    margin-right: 40%; }
  .row.twenty .push-lg-9 {
    margin-right: 45%; }
  .row.twenty .push-lg-10 {
    margin-right: 50%; }
  .row.twenty .push-lg-11 {
    margin-right: 55%; }
  .row.twenty .push-lg-12 {
    margin-right: 60%; }
  .row.twenty .push-lg-13 {
    margin-right: 65%; }
  .row.twenty .push-lg-14 {
    margin-right: 70%; }
  .row.twenty .push-lg-15 {
    margin-right: 75%; }
  .row.twenty .push-lg-16 {
    margin-right: 80%; }
  .row.twenty .push-lg-17 {
    margin-right: 85%; }
  .row.twenty .push-lg-18 {
    margin-right: 90%; }
  .row.twenty .push-lg-19 {
    margin-right: 95%; }
  .row.twenty .push-lg-20 {
    margin-right: 100%; }
  .row.twenty .order-lg-1 {
    order: 1; }
  .row.twenty .order-lg-2 {
    order: 2; }
  .row.twenty .order-lg-3 {
    order: 3; }
  .row.twenty .order-lg-4 {
    order: 4; }
  .row.twenty .order-lg-5 {
    order: 5; }
  .row.twenty .order-lg-6 {
    order: 6; }
  .row.twenty .order-lg-7 {
    order: 7; }
  .row.twenty .order-lg-8 {
    order: 8; }
  .row.twenty .order-lg-9 {
    order: 9; }
  .row.twenty .order-lg-10 {
    order: 10; }
  .row.twenty .order-lg-11 {
    order: 11; }
  .row.twenty .order-lg-12 {
    order: 12; }
  .row.twenty .order-lg-13 {
    order: 13; }
  .row.twenty .order-lg-14 {
    order: 14; }
  .row.twenty .order-lg-15 {
    order: 15; }
  .row.twenty .order-lg-16 {
    order: 16; }
  .row.twenty .order-lg-17 {
    order: 17; }
  .row.twenty .order-lg-18 {
    order: 18; }
  .row.twenty .order-lg-19 {
    order: 19; }
  .row.twenty .order-lg-20 {
    order: 20; } }

@media all and (min-width: 992px) {
  .row .col-md-1 {
    max-width: 8.33333%; }
  .row .col-md-2 {
    max-width: 16.66667%; }
  .row .col-md-3 {
    max-width: 25%; }
  .row .col-md-4 {
    max-width: 33.33333%; }
  .row .col-md-5 {
    max-width: 41.66667%; }
  .row .col-md-6 {
    max-width: 50%; }
  .row .col-md-7 {
    max-width: 58.33333%; }
  .row .col-md-8 {
    max-width: 66.66667%; }
  .row .col-md-9 {
    max-width: 75%; }
  .row .col-md-10 {
    max-width: 83.33333%; }
  .row .col-md-11 {
    max-width: 91.66667%; }
  .row .col-md-12 {
    max-width: 100%; }
  .row .offset-md-1 {
    margin-left: 8.33333%; }
  .row .offset-md-2 {
    margin-left: 16.66667%; }
  .row .offset-md-3 {
    margin-left: 25%; }
  .row .offset-md-4 {
    margin-left: 33.33333%; }
  .row .offset-md-5 {
    margin-left: 41.66667%; }
  .row .offset-md-6 {
    margin-left: 50%; }
  .row .offset-md-7 {
    margin-left: 58.33333%; }
  .row .offset-md-8 {
    margin-left: 66.66667%; }
  .row .offset-md-9 {
    margin-left: 75%; }
  .row .offset-md-10 {
    margin-left: 83.33333%; }
  .row .offset-md-11 {
    margin-left: 91.66667%; }
  .row .offset-md-12 {
    margin-left: 100%; }
  .row .push-md-1 {
    margin-right: 8.33333%; }
  .row .push-md-2 {
    margin-right: 16.66667%; }
  .row .push-md-3 {
    margin-right: 25%; }
  .row .push-md-4 {
    margin-right: 33.33333%; }
  .row .push-md-5 {
    margin-right: 41.66667%; }
  .row .push-md-6 {
    margin-right: 50%; }
  .row .push-md-7 {
    margin-right: 58.33333%; }
  .row .push-md-8 {
    margin-right: 66.66667%; }
  .row .push-md-9 {
    margin-right: 75%; }
  .row .push-md-10 {
    margin-right: 83.33333%; }
  .row .push-md-11 {
    margin-right: 91.66667%; }
  .row .push-md-12 {
    margin-right: 100%; }
  .row .order-md-1 {
    order: 1; }
  .row .order-md-2 {
    order: 2; }
  .row .order-md-3 {
    order: 3; }
  .row .order-md-4 {
    order: 4; }
  .row .order-md-5 {
    order: 5; }
  .row .order-md-6 {
    order: 6; }
  .row .order-md-7 {
    order: 7; }
  .row .order-md-8 {
    order: 8; }
  .row .order-md-9 {
    order: 9; }
  .row .order-md-10 {
    order: 10; }
  .row .order-md-11 {
    order: 11; }
  .row .order-md-12 {
    order: 12; }
  .row.sixteen .col-lg-1 {
    max-width: 6.25%; }
  .row.sixteen .col-lg-2 {
    max-width: 12.5%; }
  .row.sixteen .col-lg-3 {
    max-width: 18.75%; }
  .row.sixteen .col-lg-4 {
    max-width: 25%; }
  .row.sixteen .col-lg-5 {
    max-width: 31.25%; }
  .row.sixteen .col-lg-6 {
    max-width: 37.5%; }
  .row.sixteen .col-lg-7 {
    max-width: 43.75%; }
  .row.sixteen .col-lg-8 {
    max-width: 50%; }
  .row.sixteen .col-lg-9 {
    max-width: 56.25%; }
  .row.sixteen .col-lg-10 {
    max-width: 62.5%; }
  .row.sixteen .col-lg-11 {
    max-width: 68.75%; }
  .row.sixteen .col-lg-12 {
    max-width: 75%; }
  .row.sixteen .col-lg-13 {
    max-width: 81.25%; }
  .row.sixteen .col-lg-14 {
    max-width: 87.5%; }
  .row.sixteen .col-lg-15 {
    max-width: 93.75%; }
  .row.sixteen .col-lg-16 {
    max-width: 100%; }
  .row.sixteen .offset-lg-1 {
    margin-left: 6.25%; }
  .row.sixteen .offset-lg-2 {
    margin-left: 12.5%; }
  .row.sixteen .offset-lg-3 {
    margin-left: 18.75%; }
  .row.sixteen .offset-lg-4 {
    margin-left: 25%; }
  .row.sixteen .offset-lg-5 {
    margin-left: 31.25%; }
  .row.sixteen .offset-lg-6 {
    margin-left: 37.5%; }
  .row.sixteen .offset-lg-7 {
    margin-left: 43.75%; }
  .row.sixteen .offset-lg-8 {
    margin-left: 50%; }
  .row.sixteen .offset-lg-9 {
    margin-left: 56.25%; }
  .row.sixteen .offset-lg-10 {
    margin-left: 62.5%; }
  .row.sixteen .offset-lg-11 {
    margin-left: 68.75%; }
  .row.sixteen .offset-lg-12 {
    margin-left: 75%; }
  .row.sixteen .offset-lg-13 {
    margin-left: 81.25%; }
  .row.sixteen .offset-lg-14 {
    margin-left: 87.5%; }
  .row.sixteen .offset-lg-15 {
    margin-left: 93.75%; }
  .row.sixteen .offset-lg-16 {
    margin-left: 100%; }
  .row.sixteen .push-lg-1 {
    margin-right: 6.25%; }
  .row.sixteen .push-lg-2 {
    margin-right: 12.5%; }
  .row.sixteen .push-lg-3 {
    margin-right: 18.75%; }
  .row.sixteen .push-lg-4 {
    margin-right: 25%; }
  .row.sixteen .push-lg-5 {
    margin-right: 31.25%; }
  .row.sixteen .push-lg-6 {
    margin-right: 37.5%; }
  .row.sixteen .push-lg-7 {
    margin-right: 43.75%; }
  .row.sixteen .push-lg-8 {
    margin-right: 50%; }
  .row.sixteen .push-lg-9 {
    margin-right: 56.25%; }
  .row.sixteen .push-lg-10 {
    margin-right: 62.5%; }
  .row.sixteen .push-lg-11 {
    margin-right: 68.75%; }
  .row.sixteen .push-lg-12 {
    margin-right: 75%; }
  .row.sixteen .push-lg-13 {
    margin-right: 81.25%; }
  .row.sixteen .push-lg-14 {
    margin-right: 87.5%; }
  .row.sixteen .push-lg-15 {
    margin-right: 93.75%; }
  .row.sixteen .push-lg-16 {
    margin-right: 100%; }
  .row.sixteen .order-lg-1 {
    order: 1; }
  .row.sixteen .order-lg-2 {
    order: 2; }
  .row.sixteen .order-lg-3 {
    order: 3; }
  .row.sixteen .order-lg-4 {
    order: 4; }
  .row.sixteen .order-lg-5 {
    order: 5; }
  .row.sixteen .order-lg-6 {
    order: 6; }
  .row.sixteen .order-lg-7 {
    order: 7; }
  .row.sixteen .order-lg-8 {
    order: 8; }
  .row.sixteen .order-lg-9 {
    order: 9; }
  .row.sixteen .order-lg-10 {
    order: 10; }
  .row.sixteen .order-lg-11 {
    order: 11; }
  .row.sixteen .order-lg-12 {
    order: 12; }
  .row.sixteen .order-lg-13 {
    order: 13; }
  .row.sixteen .order-lg-14 {
    order: 14; }
  .row.sixteen .order-lg-15 {
    order: 15; }
  .row.sixteen .order-lg-16 {
    order: 16; }
  .row.twenty .col-lg-1 {
    max-width: 5%; }
  .row.twenty .col-lg-2 {
    max-width: 10%; }
  .row.twenty .col-lg-3 {
    max-width: 15%; }
  .row.twenty .col-lg-4 {
    max-width: 20%; }
  .row.twenty .col-lg-5 {
    max-width: 25%; }
  .row.twenty .col-lg-6 {
    max-width: 30%; }
  .row.twenty .col-lg-7 {
    max-width: 35%; }
  .row.twenty .col-lg-8 {
    max-width: 40%; }
  .row.twenty .col-lg-9 {
    max-width: 45%; }
  .row.twenty .col-lg-10 {
    max-width: 50%; }
  .row.twenty .col-lg-11 {
    max-width: 55%; }
  .row.twenty .col-lg-12 {
    max-width: 60%; }
  .row.twenty .col-lg-13 {
    max-width: 65%; }
  .row.twenty .col-lg-14 {
    max-width: 70%; }
  .row.twenty .col-lg-15 {
    max-width: 75%; }
  .row.twenty .col-lg-16 {
    max-width: 80%; }
  .row.twenty .col-lg-17 {
    max-width: 85%; }
  .row.twenty .col-lg-18 {
    max-width: 90%; }
  .row.twenty .col-lg-19 {
    max-width: 95%; }
  .row.twenty .col-lg-20 {
    max-width: 100%; }
  .row.twenty .offset-lg-1 {
    margin-left: 5%; }
  .row.twenty .offset-lg-2 {
    margin-left: 10%; }
  .row.twenty .offset-lg-3 {
    margin-left: 15%; }
  .row.twenty .offset-lg-4 {
    margin-left: 20%; }
  .row.twenty .offset-lg-5 {
    margin-left: 25%; }
  .row.twenty .offset-lg-6 {
    margin-left: 30%; }
  .row.twenty .offset-lg-7 {
    margin-left: 35%; }
  .row.twenty .offset-lg-8 {
    margin-left: 40%; }
  .row.twenty .offset-lg-9 {
    margin-left: 45%; }
  .row.twenty .offset-lg-10 {
    margin-left: 50%; }
  .row.twenty .offset-lg-11 {
    margin-left: 55%; }
  .row.twenty .offset-lg-12 {
    margin-left: 60%; }
  .row.twenty .offset-lg-13 {
    margin-left: 65%; }
  .row.twenty .offset-lg-14 {
    margin-left: 70%; }
  .row.twenty .offset-lg-15 {
    margin-left: 75%; }
  .row.twenty .offset-lg-16 {
    margin-left: 80%; }
  .row.twenty .offset-lg-17 {
    margin-left: 85%; }
  .row.twenty .offset-lg-18 {
    margin-left: 90%; }
  .row.twenty .offset-lg-19 {
    margin-left: 95%; }
  .row.twenty .offset-lg-20 {
    margin-left: 100%; }
  .row.twenty .push-lg-1 {
    margin-right: 5%; }
  .row.twenty .push-lg-2 {
    margin-right: 10%; }
  .row.twenty .push-lg-3 {
    margin-right: 15%; }
  .row.twenty .push-lg-4 {
    margin-right: 20%; }
  .row.twenty .push-lg-5 {
    margin-right: 25%; }
  .row.twenty .push-lg-6 {
    margin-right: 30%; }
  .row.twenty .push-lg-7 {
    margin-right: 35%; }
  .row.twenty .push-lg-8 {
    margin-right: 40%; }
  .row.twenty .push-lg-9 {
    margin-right: 45%; }
  .row.twenty .push-lg-10 {
    margin-right: 50%; }
  .row.twenty .push-lg-11 {
    margin-right: 55%; }
  .row.twenty .push-lg-12 {
    margin-right: 60%; }
  .row.twenty .push-lg-13 {
    margin-right: 65%; }
  .row.twenty .push-lg-14 {
    margin-right: 70%; }
  .row.twenty .push-lg-15 {
    margin-right: 75%; }
  .row.twenty .push-lg-16 {
    margin-right: 80%; }
  .row.twenty .push-lg-17 {
    margin-right: 85%; }
  .row.twenty .push-lg-18 {
    margin-right: 90%; }
  .row.twenty .push-lg-19 {
    margin-right: 95%; }
  .row.twenty .push-lg-20 {
    margin-right: 100%; }
  .row.twenty .order-lg-1 {
    order: 1; }
  .row.twenty .order-lg-2 {
    order: 2; }
  .row.twenty .order-lg-3 {
    order: 3; }
  .row.twenty .order-lg-4 {
    order: 4; }
  .row.twenty .order-lg-5 {
    order: 5; }
  .row.twenty .order-lg-6 {
    order: 6; }
  .row.twenty .order-lg-7 {
    order: 7; }
  .row.twenty .order-lg-8 {
    order: 8; }
  .row.twenty .order-lg-9 {
    order: 9; }
  .row.twenty .order-lg-10 {
    order: 10; }
  .row.twenty .order-lg-11 {
    order: 11; }
  .row.twenty .order-lg-12 {
    order: 12; }
  .row.twenty .order-lg-13 {
    order: 13; }
  .row.twenty .order-lg-14 {
    order: 14; }
  .row.twenty .order-lg-15 {
    order: 15; }
  .row.twenty .order-lg-16 {
    order: 16; }
  .row.twenty .order-lg-17 {
    order: 17; }
  .row.twenty .order-lg-18 {
    order: 18; }
  .row.twenty .order-lg-19 {
    order: 19; }
  .row.twenty .order-lg-20 {
    order: 20; } }

@media all and (min-width: 1200px) {
  .row .col-lg-1 {
    max-width: 8.33333%; }
  .row .col-lg-2 {
    max-width: 16.66667%; }
  .row .col-lg-3 {
    max-width: 25%; }
  .row .col-lg-4 {
    max-width: 33.33333%; }
  .row .col-lg-5 {
    max-width: 41.66667%; }
  .row .col-lg-6 {
    max-width: 50%; }
  .row .col-lg-7 {
    max-width: 58.33333%; }
  .row .col-lg-8 {
    max-width: 66.66667%; }
  .row .col-lg-9 {
    max-width: 75%; }
  .row .col-lg-10 {
    max-width: 83.33333%; }
  .row .col-lg-11 {
    max-width: 91.66667%; }
  .row .col-lg-12 {
    max-width: 100%; }
  .row .offset-lg-1 {
    margin-left: 8.33333%; }
  .row .offset-lg-2 {
    margin-left: 16.66667%; }
  .row .offset-lg-3 {
    margin-left: 25%; }
  .row .offset-lg-4 {
    margin-left: 33.33333%; }
  .row .offset-lg-5 {
    margin-left: 41.66667%; }
  .row .offset-lg-6 {
    margin-left: 50%; }
  .row .offset-lg-7 {
    margin-left: 58.33333%; }
  .row .offset-lg-8 {
    margin-left: 66.66667%; }
  .row .offset-lg-9 {
    margin-left: 75%; }
  .row .offset-lg-10 {
    margin-left: 83.33333%; }
  .row .offset-lg-11 {
    margin-left: 91.66667%; }
  .row .offset-lg-12 {
    margin-left: 100%; }
  .row .push-lg-1 {
    margin-right: 8.33333%; }
  .row .push-lg-2 {
    margin-right: 16.66667%; }
  .row .push-lg-3 {
    margin-right: 25%; }
  .row .push-lg-4 {
    margin-right: 33.33333%; }
  .row .push-lg-5 {
    margin-right: 41.66667%; }
  .row .push-lg-6 {
    margin-right: 50%; }
  .row .push-lg-7 {
    margin-right: 58.33333%; }
  .row .push-lg-8 {
    margin-right: 66.66667%; }
  .row .push-lg-9 {
    margin-right: 75%; }
  .row .push-lg-10 {
    margin-right: 83.33333%; }
  .row .push-lg-11 {
    margin-right: 91.66667%; }
  .row .push-lg-12 {
    margin-right: 100%; }
  .row .order-lg-1 {
    order: 1; }
  .row .order-lg-2 {
    order: 2; }
  .row .order-lg-3 {
    order: 3; }
  .row .order-lg-4 {
    order: 4; }
  .row .order-lg-5 {
    order: 5; }
  .row .order-lg-6 {
    order: 6; }
  .row .order-lg-7 {
    order: 7; }
  .row .order-lg-8 {
    order: 8; }
  .row .order-lg-9 {
    order: 9; }
  .row .order-lg-10 {
    order: 10; }
  .row .order-lg-11 {
    order: 11; }
  .row .order-lg-12 {
    order: 12; }
  .row.sixteen .col-lg-1 {
    max-width: 6.25%; }
  .row.sixteen .col-lg-2 {
    max-width: 12.5%; }
  .row.sixteen .col-lg-3 {
    max-width: 18.75%; }
  .row.sixteen .col-lg-4 {
    max-width: 25%; }
  .row.sixteen .col-lg-5 {
    max-width: 31.25%; }
  .row.sixteen .col-lg-6 {
    max-width: 37.5%; }
  .row.sixteen .col-lg-7 {
    max-width: 43.75%; }
  .row.sixteen .col-lg-8 {
    max-width: 50%; }
  .row.sixteen .col-lg-9 {
    max-width: 56.25%; }
  .row.sixteen .col-lg-10 {
    max-width: 62.5%; }
  .row.sixteen .col-lg-11 {
    max-width: 68.75%; }
  .row.sixteen .col-lg-12 {
    max-width: 75%; }
  .row.sixteen .col-lg-13 {
    max-width: 81.25%; }
  .row.sixteen .col-lg-14 {
    max-width: 87.5%; }
  .row.sixteen .col-lg-15 {
    max-width: 93.75%; }
  .row.sixteen .col-lg-16 {
    max-width: 100%; }
  .row.sixteen .offset-lg-1 {
    margin-left: 6.25%; }
  .row.sixteen .offset-lg-2 {
    margin-left: 12.5%; }
  .row.sixteen .offset-lg-3 {
    margin-left: 18.75%; }
  .row.sixteen .offset-lg-4 {
    margin-left: 25%; }
  .row.sixteen .offset-lg-5 {
    margin-left: 31.25%; }
  .row.sixteen .offset-lg-6 {
    margin-left: 37.5%; }
  .row.sixteen .offset-lg-7 {
    margin-left: 43.75%; }
  .row.sixteen .offset-lg-8 {
    margin-left: 50%; }
  .row.sixteen .offset-lg-9 {
    margin-left: 56.25%; }
  .row.sixteen .offset-lg-10 {
    margin-left: 62.5%; }
  .row.sixteen .offset-lg-11 {
    margin-left: 68.75%; }
  .row.sixteen .offset-lg-12 {
    margin-left: 75%; }
  .row.sixteen .offset-lg-13 {
    margin-left: 81.25%; }
  .row.sixteen .offset-lg-14 {
    margin-left: 87.5%; }
  .row.sixteen .offset-lg-15 {
    margin-left: 93.75%; }
  .row.sixteen .offset-lg-16 {
    margin-left: 100%; }
  .row.sixteen .push-lg-1 {
    margin-right: 6.25%; }
  .row.sixteen .push-lg-2 {
    margin-right: 12.5%; }
  .row.sixteen .push-lg-3 {
    margin-right: 18.75%; }
  .row.sixteen .push-lg-4 {
    margin-right: 25%; }
  .row.sixteen .push-lg-5 {
    margin-right: 31.25%; }
  .row.sixteen .push-lg-6 {
    margin-right: 37.5%; }
  .row.sixteen .push-lg-7 {
    margin-right: 43.75%; }
  .row.sixteen .push-lg-8 {
    margin-right: 50%; }
  .row.sixteen .push-lg-9 {
    margin-right: 56.25%; }
  .row.sixteen .push-lg-10 {
    margin-right: 62.5%; }
  .row.sixteen .push-lg-11 {
    margin-right: 68.75%; }
  .row.sixteen .push-lg-12 {
    margin-right: 75%; }
  .row.sixteen .push-lg-13 {
    margin-right: 81.25%; }
  .row.sixteen .push-lg-14 {
    margin-right: 87.5%; }
  .row.sixteen .push-lg-15 {
    margin-right: 93.75%; }
  .row.sixteen .push-lg-16 {
    margin-right: 100%; }
  .row.sixteen .order-lg-1 {
    order: 1; }
  .row.sixteen .order-lg-2 {
    order: 2; }
  .row.sixteen .order-lg-3 {
    order: 3; }
  .row.sixteen .order-lg-4 {
    order: 4; }
  .row.sixteen .order-lg-5 {
    order: 5; }
  .row.sixteen .order-lg-6 {
    order: 6; }
  .row.sixteen .order-lg-7 {
    order: 7; }
  .row.sixteen .order-lg-8 {
    order: 8; }
  .row.sixteen .order-lg-9 {
    order: 9; }
  .row.sixteen .order-lg-10 {
    order: 10; }
  .row.sixteen .order-lg-11 {
    order: 11; }
  .row.sixteen .order-lg-12 {
    order: 12; }
  .row.sixteen .order-lg-13 {
    order: 13; }
  .row.sixteen .order-lg-14 {
    order: 14; }
  .row.sixteen .order-lg-15 {
    order: 15; }
  .row.sixteen .order-lg-16 {
    order: 16; }
  .row.twenty .col-lg-1 {
    max-width: 5%; }
  .row.twenty .col-lg-2 {
    max-width: 10%; }
  .row.twenty .col-lg-3 {
    max-width: 15%; }
  .row.twenty .col-lg-4 {
    max-width: 20%; }
  .row.twenty .col-lg-5 {
    max-width: 25%; }
  .row.twenty .col-lg-6 {
    max-width: 30%; }
  .row.twenty .col-lg-7 {
    max-width: 35%; }
  .row.twenty .col-lg-8 {
    max-width: 40%; }
  .row.twenty .col-lg-9 {
    max-width: 45%; }
  .row.twenty .col-lg-10 {
    max-width: 50%; }
  .row.twenty .col-lg-11 {
    max-width: 55%; }
  .row.twenty .col-lg-12 {
    max-width: 60%; }
  .row.twenty .col-lg-13 {
    max-width: 65%; }
  .row.twenty .col-lg-14 {
    max-width: 70%; }
  .row.twenty .col-lg-15 {
    max-width: 75%; }
  .row.twenty .col-lg-16 {
    max-width: 80%; }
  .row.twenty .col-lg-17 {
    max-width: 85%; }
  .row.twenty .col-lg-18 {
    max-width: 90%; }
  .row.twenty .col-lg-19 {
    max-width: 95%; }
  .row.twenty .col-lg-20 {
    max-width: 100%; }
  .row.twenty .offset-lg-1 {
    margin-left: 5%; }
  .row.twenty .offset-lg-2 {
    margin-left: 10%; }
  .row.twenty .offset-lg-3 {
    margin-left: 15%; }
  .row.twenty .offset-lg-4 {
    margin-left: 20%; }
  .row.twenty .offset-lg-5 {
    margin-left: 25%; }
  .row.twenty .offset-lg-6 {
    margin-left: 30%; }
  .row.twenty .offset-lg-7 {
    margin-left: 35%; }
  .row.twenty .offset-lg-8 {
    margin-left: 40%; }
  .row.twenty .offset-lg-9 {
    margin-left: 45%; }
  .row.twenty .offset-lg-10 {
    margin-left: 50%; }
  .row.twenty .offset-lg-11 {
    margin-left: 55%; }
  .row.twenty .offset-lg-12 {
    margin-left: 60%; }
  .row.twenty .offset-lg-13 {
    margin-left: 65%; }
  .row.twenty .offset-lg-14 {
    margin-left: 70%; }
  .row.twenty .offset-lg-15 {
    margin-left: 75%; }
  .row.twenty .offset-lg-16 {
    margin-left: 80%; }
  .row.twenty .offset-lg-17 {
    margin-left: 85%; }
  .row.twenty .offset-lg-18 {
    margin-left: 90%; }
  .row.twenty .offset-lg-19 {
    margin-left: 95%; }
  .row.twenty .offset-lg-20 {
    margin-left: 100%; }
  .row.twenty .push-lg-1 {
    margin-right: 5%; }
  .row.twenty .push-lg-2 {
    margin-right: 10%; }
  .row.twenty .push-lg-3 {
    margin-right: 15%; }
  .row.twenty .push-lg-4 {
    margin-right: 20%; }
  .row.twenty .push-lg-5 {
    margin-right: 25%; }
  .row.twenty .push-lg-6 {
    margin-right: 30%; }
  .row.twenty .push-lg-7 {
    margin-right: 35%; }
  .row.twenty .push-lg-8 {
    margin-right: 40%; }
  .row.twenty .push-lg-9 {
    margin-right: 45%; }
  .row.twenty .push-lg-10 {
    margin-right: 50%; }
  .row.twenty .push-lg-11 {
    margin-right: 55%; }
  .row.twenty .push-lg-12 {
    margin-right: 60%; }
  .row.twenty .push-lg-13 {
    margin-right: 65%; }
  .row.twenty .push-lg-14 {
    margin-right: 70%; }
  .row.twenty .push-lg-15 {
    margin-right: 75%; }
  .row.twenty .push-lg-16 {
    margin-right: 80%; }
  .row.twenty .push-lg-17 {
    margin-right: 85%; }
  .row.twenty .push-lg-18 {
    margin-right: 90%; }
  .row.twenty .push-lg-19 {
    margin-right: 95%; }
  .row.twenty .push-lg-20 {
    margin-right: 100%; }
  .row.twenty .order-lg-1 {
    order: 1; }
  .row.twenty .order-lg-2 {
    order: 2; }
  .row.twenty .order-lg-3 {
    order: 3; }
  .row.twenty .order-lg-4 {
    order: 4; }
  .row.twenty .order-lg-5 {
    order: 5; }
  .row.twenty .order-lg-6 {
    order: 6; }
  .row.twenty .order-lg-7 {
    order: 7; }
  .row.twenty .order-lg-8 {
    order: 8; }
  .row.twenty .order-lg-9 {
    order: 9; }
  .row.twenty .order-lg-10 {
    order: 10; }
  .row.twenty .order-lg-11 {
    order: 11; }
  .row.twenty .order-lg-12 {
    order: 12; }
  .row.twenty .order-lg-13 {
    order: 13; }
  .row.twenty .order-lg-14 {
    order: 14; }
  .row.twenty .order-lg-15 {
    order: 15; }
  .row.twenty .order-lg-16 {
    order: 16; }
  .row.twenty .order-lg-17 {
    order: 17; }
  .row.twenty .order-lg-18 {
    order: 18; }
  .row.twenty .order-lg-19 {
    order: 19; }
  .row.twenty .order-lg-20 {
    order: 20; } }

.feedback {
  padding: 20px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  flex-direction: column-reverse; }

@keyframes feedbackIn {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
  .feedback__item {
    min-height: 40px;
    padding: 5px 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #777777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: feedbackIn 0.5s forwards ease-in; }
    .feedback__item * {
      color: #ffffff; }

.button {
  padding: 5px 15px;
  min-height: 40px;
  font-size: 16px;
  transition: 0.3s;
  border: 1px solid #bbbbbb;
  background-color: #dddddd;
  color: #555555;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .button:hover {
    transition: 0.3s;
    filter: brightness(0.9); }
  .button.danger {
    border-color: #d32f2f;
    background-color: #d32f2f;
    color: #ffffff; }
  .button.success {
    border-color: #81c784;
    background-color: #81c784;
    color: #ffffff; }

.text_field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column-reverse;
  position: relative; }
  .text_field__label {
    font-size: 12px;
    display: flex;
    justify-content: space-between; }
  .text_field__feedback {
    font-size: 12px;
    color: #d32f2f;
    font-weight: bold;
    text-align: right; }
  .text_field__field {
    padding: 5px 15px;
    width: 100%;
    min-height: 40px;
    border: 1px solid #cccccc;
    outline: none;
    box-shadow: none; }
    .text_field__field:focus {
      transition: 0.3s;
      border-color: #888888; }
    .text_field__field:focus + .text_field__label {
      font-weight: bold; }

.menu {
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  padding: 15px 15px;
  top: -30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  position: sticky; }
  .menu__link {
    transition: 0.3s;
    padding: 10px 15px;
    border-left: 5px solid transparent;
    display: flex; }
    .menu__link:hover {
      transition: 0.3s;
      background-color: #eeeeee; }
    .menu__link--active {
      border-left: 5px solid #dddddd; }

.login {
  min-width: 400px;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative; }
  .login__title {
    top: -90px;
    height: 0px;
    font-weight: 400;
    text-align: center;
    font-family: "Merienda", cursive;
    position: relative; }
  .login__button {
    width: 100%;
    margin-bottom: 30px; }
  .login__bottom {
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    color: #999999;
    text-decoration: underline;
    cursor: pointer; }

.register {
  min-width: 600px;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column; }
  .register__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .register__title {
    top: -90px;
    height: 0px;
    font-weight: 400;
    text-align: center;
    font-family: "Merienda", cursive;
    position: relative; }
  .register__row {
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap; }
    .register__row > .register__row__item {
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
      max-width: 50%;
      flex-basis: 50%; }
  .register__button {
    width: 300px;
    margin-bottom: 30px; }
  .register__bottom {
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    color: #999999;
    text-decoration: underline;
    cursor: pointer; }

.forgot_password {
  min-width: 400px;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative; }
  .forgot_password__title {
    top: -90px;
    height: 0px;
    font-weight: 400;
    text-align: center;
    font-family: "Merienda", cursive;
    position: relative; }
  .forgot_password__button {
    width: 100%;
    margin-bottom: 30px; }
  .forgot_password__bottom {
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    color: #999999;
    text-decoration: underline;
    cursor: pointer; }

.reset_password_initial {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: #eeeeee;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .reset_password_initial:before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
    border: none;
    border-top: 100vh solid #dddddd;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    display: block;
    position: absolute; }

.reset_password {
  min-width: 400px;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative; }
  .reset_password__title {
    top: -90px;
    height: 0px;
    font-weight: 400;
    text-align: center;
    font-family: "Merienda", cursive;
    position: relative; }
  .reset_password__button {
    width: 100%;
    margin-bottom: 30px; }
  .reset_password__bottom {
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    color: #999999;
    text-decoration: underline;
    cursor: pointer; }

.initial {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: #eeeeee; }
  .initial:before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
    border: none;
    border-top: 100vh solid #dddddd;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    display: block;
    position: absolute; }
  .initial .slider {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: hidden; }

@keyframes sliderItemIn {
  0% {
    opacity: 0;
    z-index: 1;
    left: 100%;
    position: absolute;
    visibility: hidden; }
  100% {
    opacity: 1;
    left: 0px;
    position: relative;
    visibility: visible; } }

@keyframes sliderItemOut {
  0% {
    opacity: 1;
    z-index: 0;
    left: 0px;
    visibility: visible;
    position: absolute; }
  100% {
    opacity: 0;
    left: 100%;
    position: absolute;
    visibility: hidden; } }
    .initial .slider__item {
      min-width: 100vw;
      min-height: 100vh;
      width: 100vw;
      height: 100vh;
      transition: 1s;
      z-index: 0;
      opacity: 0;
      left: 100%;
      visibility: hidden;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center; }
      .initial .slider__item--active {
        opacity: 1;
        transition: 1s;
        z-index: 1;
        left: 0px;
        visibility: visible;
        position: relative; }
  .initial .slider.animation_controller__item {
    animation: sliderItemOut 0.5s forwards ease-out; }
    .initial .slider.animation_controller__item--active {
      animation: sliderItemIn 0.5s forwards ease-in; }

.crud_delete {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .crud_delete .container {
    max-width: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column; }
  .crud_delete__desc {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #ffffff; }
    .crud_delete__desc * {
      color: #ffffff;
      display: inline;
      text-decoration: underline; }
  .crud_delete__bottom {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center; }
    .crud_delete__bottom .button {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); }
    .crud_delete__bottom .button + .button {
      margin-left: 30px; }

.crud_list .text_field.filter {
  width: 250px; }
  .crud_list .text_field.filter .text_field__field {
    min-height: 30px; }

.crud_list .table {
  width: 100%;
  border-collapse: collapse; }
  .crud_list .table__thead .table__th,
  .crud_list .table__thead .table__td {
    font-size: 14px;
    background-color: #777777;
    color: #ffffff; }
    .crud_list .table__thead .table__th:last-child,
    .crud_list .table__thead .table__td:last-child {
      text-align: right; }
  .crud_list .table__tbody .table__tr .table__th,
  .crud_list .table__tbody .table__tr .table__td {
    font-size: 16px; }
    .crud_list .table__tbody .table__tr .table__th:last-child,
    .crud_list .table__tbody .table__tr .table__td:last-child {
      text-align: right; }
  .crud_list .table__tbody .table__tr:nth-child(even) .table__th,
  .crud_list .table__tbody .table__tr:nth-child(even) .table__td {
    background-color: #eeeeee; }
  .crud_list .table__tbody .table__tr:hover .table__th,
  .crud_list .table__tbody .table__tr:hover .table__td {
    transition: 0.3s;
    background-color: #dddddd; }
  .crud_list .table__th {
    height: 30px;
    min-height: 30px;
    padding: 5px 15px;
    text-align: left; }
  .crud_list .table__td {
    height: 40px;
    min-height: 40px;
    padding: 5px 15px;
    text-align: left; }
  .crud_list .table__button {
    font-size: 12px;
    min-height: 25px;
    padding: 2px 7px; }
    .crud_list .table__button + .table__button {
      margin-left: 10px; }
    .crud_list .table__button.show {
      color: #ffffff;
      border-color: #64b5f6;
      background-color: #64b5f6; }
    .crud_list .table__button.edit {
      color: #ffffff;
      border-color: #81c784;
      background-color: #81c784; }
    .crud_list .table__button.remove {
      color: #ffffff;
      border-color: #d32f2f;
      background-color: #d32f2f; }

.crud_list .pagination {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end; }
  .crud_list .pagination__prev, .crud_list .pagination__next {
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .crud_list .pagination__prev svg, .crud_list .pagination__next svg {
      width: 25px;
      height: 25px; }
  .crud_list .pagination__field input {
    padding: 2px 5px;
    min-height: 30px;
    border: 1px solid #dddddd;
    text-align: center;
    outline: none;
    /* Firefox */ }
    .crud_list .pagination__field input::-webkit-outer-spin-button, .crud_list .pagination__field input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .crud_list .pagination__field input[type="number"] {
      -moz-appearance: textfield; }

.crud_index {
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
  overflow-y: auto;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .crud_index:before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: 0;
    border: none;
    border-top: 100vh solid #dddddd;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    display: block;
    position: absolute; }
  .crud_index .callback {
    min-height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d32f2f;
    color: #ffffff; }
  .crud_index .container {
    margin-left: -20px;
    margin-right: -20px;
    width: 1200px;
    padding: 0px 15px;
    z-index: 1;
    box-sizing: content-box;
    position: relative;
    display: flex;
    align-items: flex-start; }
  .crud_index .content {
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    width: calc(100% - 350px);
    padding: 15px 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    background-color: #ffffff; }
  .crud_index .tab {
    transform: translateX(-15px);
    margin: -65px -10px 30px -10px;
    display: flex;
    flex-wrap: wrap; }
    .crud_index .tab__item {
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px 15px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
      border-bottom: 3px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      cursor: pointer; }
      .crud_index .tab__item--active {
        border-bottom: 3px solid #555555;
        font-weight: bold; }
  .crud_index .product_list_row {
    width: 100%;
    max-height: 300px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; }
    .crud_index .product_list_row__col {
      max-width: 25%;
      flex-basis: 25%;
      padding-left: 7.5px;
      padding-right: 7.5px; }
    .crud_index .product_list_row__item {
      padding: 10px;
      border-radius: 5px;
      margin-top: 15px;
      transition: 0.3s;
      background-color: #eeeeee66; }
      .crud_index .product_list_row__item:hover {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
        transition: 0.3s; }
    .crud_index .product_list_row__button {
      padding: 2px 5px;
      font-size: 11px;
      min-height: 25px;
      margin-top: 10px;
      display: block; }
    .crud_index .product_list_row__name {
      font-size: 14px;
      display: block; }
    .crud_index .product_list_row__price {
      font-size: 14px;
      display: block; }
    .crud_index .product_list_row__cart {
      font-size: 14px;
      display: block; }
    .crud_index .product_list_row__total {
      font-size: 18px;
      font-weight: bold;
      display: block; }
    .crud_index .product_list_row__not_found {
      margin-top: 15px;
      margin-left: 7.5px; }
