.forgot_password {
	min-width: 400px;
	padding: 30px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
	background-color: $white;
	display: inline-flex;
	flex-direction: column;
	position: relative;

	&__title {
		top: -90px;
		height: 0px;
		font-weight: 400;
		text-align: center;
		font-family: "Merienda", cursive;
		position: relative;
	}

	&__button {
		width: 100%;
		margin-bottom: 30px;
	}

	&__bottom {
		padding-top: 15px;
		width: 100%;
		font-size: 14px;
		border-top: 1px solid $greyd;
		display: flex;
		justify-content: space-between;
		color: $grey9;
		text-decoration: underline;
		cursor: pointer;
	}
}
