@mixin col($size, $maxColumns) {
	@for $i from 1 through $maxColumns {
		.col-#{$size}-#{$i} {
			max-width: #{100% / $maxColumns * $i};
		}
	}
}

@mixin offset($size, $maxColumns) {
	@for $i from 1 through $maxColumns {
		.offset-#{$size}-#{$i} {
			margin-left: #{100% / $maxColumns * $i};
		}
	}
}

@mixin push($size, $maxColumns) {
	@for $i from 1 through $maxColumns {
		.push-#{$size}-#{$i} {
			margin-right: #{100% / $maxColumns * $i};
		}
	}
}

@mixin order($size, $maxColumns) {
	@for $i from 1 through $maxColumns {
		.order-#{$size}-#{$i} {
			order: $i;
		}
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;

	> div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
}

@media all and (min-width: 576px) {
	.row {
		@include col(xs, 12);
		@include offset(xs, 12);
		@include push(xs, 12);
		@include order(xs, 12);

		&.sixteen {
			@include col(lg, 16);
			@include offset(lg, 16);
			@include push(lg, 16);
			@include order(lg, 16);
		}

		&.twenty {
			@include col(lg, 20);
			@include offset(lg, 20);
			@include push(lg, 20);
			@include order(lg, 20);
		}
	}
}
@media all and (min-width: 768px) {
	.row {
		@include col(sm, 12);
		@include offset(sm, 12);
		@include push(sm, 12);
		@include order(sm, 12);

		&.sixteen {
			@include col(lg, 16);
			@include offset(lg, 16);
			@include push(lg, 16);
			@include order(lg, 16);
		}

		&.twenty {
			@include col(lg, 20);
			@include offset(lg, 20);
			@include push(lg, 20);
			@include order(lg, 20);
		}
	}
}
@media all and (min-width: 992px) {
	.row {
		@include col(md, 12);
		@include offset(md, 12);
		@include push(md, 12);
		@include order(md, 12);

		&.sixteen {
			@include col(lg, 16);
			@include offset(lg, 16);
			@include push(lg, 16);
			@include order(lg, 16);
		}

		&.twenty {
			@include col(lg, 20);
			@include offset(lg, 20);
			@include push(lg, 20);
			@include order(lg, 20);
		}
	}
}
@media all and (min-width: 1200px) {
	.row {
		@include col(lg, 12);
		@include offset(lg, 12);
		@include push(lg, 12);
		@include order(lg, 12);

		&.sixteen {
			@include col(lg, 16);
			@include offset(lg, 16);
			@include push(lg, 16);
			@include order(lg, 16);
		}

		&.twenty {
			@include col(lg, 20);
			@include offset(lg, 20);
			@include push(lg, 20);
			@include order(lg, 20);
		}
	}
}
